@import 'tailwindcss';

:root {
  --primary: hsla(283, 95%, 38%, 1);
  --neutral-purple: hsla(283, 50%, 7%, 1);
  --neutral-gray: #e6e6e6;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('../../public/fonts/MonaSans-Variable.ttf') format('ttf');
}

@theme {
  --font-mona: 'Mona Sans', sans;
  --color-primary: var(--primary);
  --color-neutral-purple: var(--neutral-purple);
  --color-neutral-gray: var(--neutral-gray);
}
